{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "masthead.html" . }}
{{ end }}
{{ define "main" }}
  {{ .Content }}
    <hr>
    <p>### Pitch</p>
    <ul>
      <li><a href="{{ path.Join .RelPermalink "pitch.html" }}">{{ .Title }}</a></li>
    </ul>
  {{ partial "tags.html" .}}
  {{ partial "categories.html" .}}
  {{ partial "comments.html" .}}
{{ end }}
{{ define "footer" }}
  <small class="muted">
    {{ partial "copyright-notice.html" . }}
  </small>
{{ end }}
