{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "masthead.html" . }}
{{ end }}
{{ define "main" }}
  {{ .Content }}
    <hr>
    <p>Pitch</p>
    <ul>
      <li><a href="{{ path.Join .RelPermalink "pitch.html" }}">{{ .Title }}</a></li>
    </ul>
  {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <p>Tags</p>
    <ul>
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  {{- end }}
  {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <p>Categories</p>
    <ul>
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  {{- end }}
{{ end }}
{{ define "footer" }}
  <small class="muted">
    {{ partial "copyright-notice.html" . }}
  </small>
{{ end }}
